@model IEnumerable<MobieStoreWeb.Models.Order>

@{
    ViewData["Title"] = "Index";
}

    <div style="border:1px solid black;box-shadow:13px 9px 32px 2px blanchedalmond;padding:10px;">

        <h3>Search</h3>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p style="margin-top:20px">
                    <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-outline-success btn-sm" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
        @*---------------Select filter-------------*@
        @*<form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p style="margin-top:20px">
                    <select class="form-control"
                            asp-items="@(new SelectList(@ViewBag.listOrderStatus))">
                    </select>
                    <input type="submit" value="Search" class="btn btn-outline-success btn-sm" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>*@



        @if (Model == null)
        {
            <h1 style="color:red;text-align:center">No data Found</h1>

        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingPhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryOption)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillingName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillingAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillingPhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.User</td>
                            <td>@item.ShippingName</td>
                            <td>@item.ShippingAddress</td>
                            <td>@item.ShippingPhoneNumber</td>
                            <td>@item.DeliveryOption</td>
                            <td>@item.BillingName</td>
                            <td>@item.BillingAddress</td>
                            <td>@item.BillingPhoneNumber</td>
                            <td>@item.PaymentMethod</td>
                            <td>@item.PaymentStatus</td>
                            <td>@item.Status</td>
                            <td>@item.OrderDate</td>
                        </tr>
                    }
                </tbody>

            </table>

        }

    </div>